* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  width: 100%;
  background-color: #EC715F;
}

.header-group {
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

.containar {
  width: 1024px;
  margin: 0 auto;
}

.logo {
  height: 70px;
}

.nav {
  display: flex;
}

.nav-list {
  font-size: 16px;
  color: #FAFAFA;
  list-style: none;
  line-height: 70px;
  padding: 0 30px;
}

.link {
  text-decoration: none;
}

#mv {
  background-image: url(img/mv.png);
  height: 650px;
  width: 100%;
  text-align: center;
  color: #FAFAFA;
  background-size: cover;
  background-position: center;
}

.mv-title {
  padding-top: 200px;
  font-family: 'Railway', sans-serif;
  font-size: 64px;
}

.mv-text {
  padding-top: 10px;
  font-size: 20px;
}

#portfolio {
  background-color: #ECEFF1;
}

.heading {
  padding-top: 90px;
  color: #000000;
  font-size: 32px;
  text-align: center;
}

.heading::after {
  content: "";
  display: block;
  margin: 8px auto 0 auto;
  height: 3px;
  width: 70px;
  background-color: #EC715F;
}

.heading-text {
  padding-top: 30px;
  font-size: 16px;
  color: #000000;
  text-align: center;
}

.production-group {
  display: flex;
  flex-flow: row wrap;
  width: 920px;
  padding-top: 30px;
  padding-bottom: 90px;
  margin: 0 auto;
}

.production {
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}

.production:nth-child(3n) {
  margin-right: 0;
}

.bg-1 {
  background-image: url(img/sketch.jpg);
}

.bg-2 {
  background-image: url(img/websuku.png);
}

.bg-3 {
  background-image: url(img/write.jpg);
}

.bg-4 {
  background-image: url(img/webcamp.png);
}

.bg-5 {
  background-image: url(img/talk.jpg);
}

.bg-6 {
  background-image: url(img/webcamp-mother.png);
}

.strength-group {
  display: flex;
  width: 980px;
  padding-top: 30px;
  padding-bottom: 90px;
  margin: 0 auto;
}

.strength {
  width: 320px;
  margin-right: 10px;
  font-size: 60px;
  text-align: center;
}

.strength:last-child {
  margin-right: 0;
}

.strength-title {
  font-size: 20px;
  color: #000000;
  margin: 10px auto;
}

.strength-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

#profile {
  background-color: #ECEFF1;
}

.profile-group {
  display: flex;
  width: 1024px;
  padding-top: 30px;
  padding-bottom: 90px;
  margin: 0 auto;
}

.face-image {
  width: 512px;
}

.face {
  width: 250px;
  height: 250px;
  background-image: url(img/my-icon.jpg);
  border-radius: 50%;
  margin: 0 auto;
}

.introduction {
  text-align: left;
  width: 512px;
}

.myname-title {
  font-size: 20px;
  color: #000000;
  margin-bottom: 5px;
}

.myname-text {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}

.myskills-title {
  font-size: 20px;
  color: #000000;
  margin-bottom: 5px;
}

.myskills-text {
  font-size: 16px;
  color: #000000;
}

.contact-group {
  display: flex;
  width: 800px;
  padding-top: 30px;
  padding-bottom: 90px;
  margin: 0 auto;
}

.left-content {
  width: 50%;
}

.left-contact-content {
  width: 130px;
  margin: 0 auto;
}

.title {
  font-size: 20px;
  margin: 20px 0 5px 0 ;
}

.title:first-child {
  margin-top: 0;
}

.link-text {
  text-decoration: underline;
  color: #000000;
}

.right-content {
  width: 50%;
}

.right-contact-content {
  width: 170px;
  margin: 0 auto;
}

.right-contact-content
.fa {
  font-size: 50px;
  margin-right: 8px;
}

.right-contact-content
.fa:last-child {
  margin-right: 0px;
}

footer {
  background-color: #EC715F;
  height: 60px;
  line-height: 60px;
}

.copyright {
  font-size: 16px;
  color: #FAFAFA;
  text-align: center;
}